.Header {
    width: 100%;
    height: 7vh;
    display: flex;

    justify-content: flex-end;
    align-items: center;
    background: wheat;
    position: fixed;
    top: 0;
}

.Header > a {
    text-decoration: none;
    color: black;
    font-size: 20px;
    font-weight: 600;
    margin-right: 2vw;
}

a[class='active'] {
    color: #22b2b2;
}