.member {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    justify-content: center;
    align-items: center;
}

.member > h2 {
    width: 50%;
    border-bottom: 3px solid black;
    text-align: center;
}

.member > img {
    width: 30vw;
    border-radius: 15px;
}